p {
    color: green;
    border: 1px solid blue;
    text-align: center;
}

#title1{
    font-size: 20px;
}

input[type="text"] {
    background-color: yellow;
    border-radius: 3px;
}

.description1 {
    font-weight: bold;
    color: red;
}

input[type="number1"] {
    background-color: aquamarine;
}


